{% extends app.request.isXmlHttpRequest ? 'WebProfilerBundle:Profiler:ajax_layout.html.twig' : 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <img width="28" height="28" alt="Solr" src="{{ asset('bundles/nelmiosolarium/images/profiler/solr28.png') }}" />
        <span class="sf-toolbar-status{% if 50 < collector.querycount %} sf-toolbar-status-yellow{% endif %}">{{ collector.querycount }}</span>
        {% if collector.querycount > 0 %}
            <span class="sf-toolbar-info-piece-additional-detail">in {{ '%0.2f'|format(collector.totaltime * 1000) }} ms</span>
        {% endif %}
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Solr Queries</b>
            <span>{{ collector.querycount }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Query time</b>
            <span>{{ '%0.2f'|format(collector.totaltime * 1000) }} ms</span>
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><img src="{{ asset('bundles/nelmiosolarium/images/profiler/solr.png') }}" alt="Solarium" /></span>
    <strong>Solr</strong>
    <span class="count">
        <span>{{ collector.queryCount }}</span>
        <span>{{ '%0.0f'|format(collector.totaltime) }} ms</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    {% if collector.queries is empty %}
        <p>
            <em>No queries.</em>
        </p>
    {% else %}
        <ul class="alt">
        {% for i, query in collector.queries %}
            <li class="{{ cycle(['odd', 'even'], i) }}">
                <h2>Request {{ loop.index }} (<a href="{{ query.base_uri }}{{ query.request.uri }}">{{ query.base_uri }}</a>)</a></h2>
                <div>
                    <h3>Params</h3>
                    {#
                    <code>
                        {{ query.request.uri }}
                        <br/>
                        {{ query.request.rawdata }}
                    </code>
                    #}
                    <table style="width:45%">
                        <thead>
					        <tr>
					            <th scope="col">Key</th>
					            <th scope="col">Value</th>
					        </tr>
					    </thead>
					    <tbody>
                    {% for key, value in query.request.params %}
	                        <tr>
	                            <td><b>{{ key }}</b></td>
	                            {% if value|keys %}
	                            <td>{{ value|join('<br />')|raw }}</td>
	                            {% else %}
	                            <td>{{ value }}</td>
	                            {% endif %}
	                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                    
                    <h3>Response</h3>
                    <code>
                        HTTP-Result: {{ query.response.statuscode }} ({{ '%0.4f'|format(query.duration) }} ms)<br/>
                        {{ query.response.body }}
                    </code>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
